html {
	height: 100%;
	background-color: #333;
	color: #eee;
	background-size: cover;	
	background: -webkit-radial-gradient(#555, #222); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#555, #222); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#555, #222); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#555, #222); /* Standard syntax */
}
body {
	font-family: 'Dosis', sans-serif;
	margin-top: 5%;	
}

.colorMe {
	/*color: #8c328c;*/
	color: #8edb96
}

.startButton, .resetButton {
	display: flex;
	justify-content: center;
}

button {	
	border-radius: 5px;
	border: 0px;
}

.startButton button, .resetButton {
	border-radius: 28px;
	padding: 10px 20px 10px 20px;	
	font-size: 20px;
	background-color: #3498db;
	color: white;
}

.startButton button:hover, .startButton button:focus, .nextButton button:hover, .nextButton button:focus, .resetButton:hover, .resetButton:focus {	
	background-color: #3cb0fd;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 2em;
	padding-bottom: 12px;
	
}

@media only screen and (min-width: 640px) {
	h1 {width: 600px;}
}

header {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

main { 
	margin-bottom: 50px;
}

.quizBox {	
	border: 0px;
	border-radius: 5px;
	background: #222;	
	width: 100%;
	padding: 20px 8px 20px 15px;
	overflow: hidden;
	color: #eee;	
}

legend {
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.25;
}

.answer {
	margin-bottom: 10px;
	padding: 10px 16px 10px 16px;
	border: 4px solid white;
	width: 100%;
	border-radius: 18px 0px 18px 0px;
	font-size: 1.1em;
	background-color: #EA9600;
	color: #333;
	font-weight: bold;
}

.answer:hover, .answer:focus, .answer.selected {	
	background-color: #8D19E2;
	border: 4px solid #8D19E2;
	color: #eee;
}

.answerPlaceholder {
	height: 29px;
	margin-bottom: 10px;
	width: 100%;
}

footer {
	display: flex;
}

.score {
	font-family: 'Rock Salt', cursive;
	font-size: 1.75em;
	flex: 1;
	text-align: right;
}

.feedbackForm {
	display: inline-block;	
	height: 50px;
	width: 50%;
	max-width: 150px;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-weight: bold;
}

.incorrect {
	background-color: #aa2929;
}

.correct {
	background-color: #8edb96;
}

.posScore {
	color: #8edb96;
}

.negScore {
	color: #aa2929;
}

.finalScore, .primaryFeedback{
	font-size: 1.5em;
	margin-bottom: 20px;
}

.finalScore{
	line-height: 1.75em;
	background-color: #888;
	border-radius: 5px;
	padding: 10px;
}

.pageCount {
	flex: 0 0 50%;
	align-self: flex-end;	
}

.nextButton {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	float: right;	
	padding-top: 7px;	
}

.nextButton button {
	height: 35px;
	color: white;
	font-weight: bold;
	background-color: #3498db;
}

/*animation for wrong answers*/
@keyframes hinge {
   0% { 
      transform: rotate(0); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   20%, 60% { 
      transform: rotate(80deg); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   40% { 
      transform: rotate(60deg); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   80% { 
      transform: rotate(60deg) translateY(0); 
      opacity: 1; 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   100% { 
      transform: translateY(700px); 
      opacity: 0; 
   } 
} 

.animated.hinge {
  animation-duration: 3s;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.hinge {
  animation-name: hinge;
}
