body {
	font-family: 'Dosis', sans-serif;
	margin-top: 5%;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 2em;
	padding-bottom: 12px;
}

header {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

main { 
	margin-bottom: 50px;
}

.quizBox {	
	border: 3px solid gray;	
	width: 100%;
	padding: 20px 8px 20px 15px;	
}

legend {
	margin-bottom: 20px;
	font-size: 1.5em;
}

.answer {
	margin-bottom: 10px;
	padding: 5px 0 5px 0;
	border: 1px solid gray;
	width: 100%;
}

.answerPlaceholder {
	height: 29px;
	margin-bottom: 10px;
	width: 100%;
}

footer {
	display: flex;
}
.score {
	flex: 1;
	text-align: right;
}

.pageCount {
	flex: 0 0 50%;
}

.nextButton {
	display: flex;
	justify-content: flex-end;
}

/*animation for wrong answers*/
@keyframes hinge {
   0% { 
      transform: rotate(0); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   20%, 60% { 
      transform: rotate(80deg); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   40% { 
      transform: rotate(60deg); 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   80% { 
      transform: rotate(60deg) translateY(0); 
      opacity: 1; 
      transform-origin: top left; 
      animation-timing-function: ease-in-out; 
   }
   100% { 
      transform: translateY(700px); 
      opacity: 0; 
   } 
} 
